.form {
    margin-top: 25px;
    background: #fff;
    padding: 15px;
    width: 350px;
    height: 165px;
    border-radius: 7px;
}
.form-group {
    margin-top: 5px;
}
.form .form-group .form-control {
    width: 98%;
    height: 25px;
}

.form-group button {
   background: purple;
   border: purple;
   color: #fff;
   width: 50px;
   height: 25px;
   padding: 5px;
   text-align: center;
   margin-top: 5px;
}